.lorem {
  display: flex;
  gap: 30px;
  display: wrap;
  

      &_item {
      width: 270px;
      height: 133px;
    }
    
    &__name {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142em;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
    }
    
    &__paragraph {
      font-size: 14px;
      line-height: 1.714em;
      letter-spacing: 0.03em;
      color: var(--grey);
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__icon-work {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 120px;
      background: #F5F4FA;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }


@media screen and (max-width: 767px) {
  .lorem {
    flex-wrap: wrap;
    flex-direction: column;
  
    &_item {
    width: 100%;
    height: 102px;
  }
  
  &__name {
    width: 100%;
    text-align: center;
  }
  
  &__paragraph {
   width: 100%;
   padding-bottom: 30px;
  }
  
  &__icon-work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    flex-wrap: wrap;
    justify-content: center;
  
    &_item {
    width: 100%;
    height: 102px;
  }
  
  &__name {
    width: 354px;
  }
  
  &__paragraph {
   width: 354px;
   padding-bottom: 30px;
  }
  
  &__icon-work {
    width: 354px;
  }
}
}