.lorem {
    width: 1170px;
    height: 101px;
    align-content: space-around;
    gap: 30px;
    display: flex;
  
  
    &_item {
    width: 270px;
    height: 133px;
  }
  
  
  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142em;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  &__paragraph {
    font-size: 14px;
    line-height: 1.714em;
    letter-spacing: 0.03em;
    color: var(--grey);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__icon-work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }

}
  
  .icon-antenna,
  .icon-clock,
  .icon-diagram,
  .icon-astronaut {
    width: 70px;
    height: 70px;
  }
