.content {
    width: 1600px;
    height: 1548px;
  }
  
  .portfolio {
    height: 1360px;
    padding-top: 94px;
  }
  
  .portfolio-first-list {
    margin-left: 327px;
  }

  .portfolio-secound-list {
    width: 1170px;
    height: 1288px;
  
  }