.work-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.666em;
    letter-spacing: 0.03em;
    color: var(--black);
  }

  
  @media screen and (max-width: 767px) {
    .work-team {
    font-size: 28px;
    padding-top: 60px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    
  }
  
  @media screen and (min-width: 1200px) {
    
  }