.work-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.666em;
    letter-spacing: 0.03em;
    color: var(--black);
  }
  