.address-list {
    margin-top: 30px;
    
  
  
  &__footer-link {
    font-size: 14px;
    line-height: 1.714em;
    letter-spacing: 0.03em;
    color: var(--grey);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
  
  &__address-link {
    color: var(--FFF);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
  
  &__item {
    margin-top: 9px;
  }

}