.join-to-as {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-top: 26px;
    line-height: 1.666em;
    letter-spacing: 0.03em;
    color: var(--FFF);
  }